<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <script type="text/javascript">
        var _userway_config = {
            account: 'jBOS5KrR6B'
        };
    </script>
    <script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
    <header>
        <h1>William Hirsch</h1>
        {% if page.lang == 'en' %}
            {% include navigation_en.html %}
        {% elsif page.lang == 'fr' %}
            {% include navigation_fr.html %}
        {% endif %}
    </header>

    <content>
        {{ content }}
    </content>
</body>
</html>